/*
* Krissy Kanu
* 5/7/19
* Girl Develop It Project */

/* The universal selector */

* {

}

/* Body properties here */

body {font-family: Arial, Helvetica, sans-serif;
      font-size: 20pt; 
      background-color: floralwhite;} /* color and font info for the entire page */

h1 {font-family: Lucida Handwriting, cursive;} /* font for the h1 */

h2 {font-family: Lucida Handwriting, cursive;} /* font for h2 */

header { background-color: #EA4954; 
         text-align: center; }


/* the following contains size & floating instructions for the different pictures on the page */
#logo {clear: both;}
#laptop{float: right;
        width: 520px;}
#girls {float: right;
        width: 520px;}

a:hover, a:focus {color: hotpink;
    font-size: 200%;} /* color change when hovering over a link */

